<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>

{{- $desc := or (.Param "description") (site.Param "description") -}}
{{- with $desc -}}
  <meta
    name="description"
    content="{{ . | plainify | htmlUnescape | truncate 160 }}"
  />
{{- end -}}

{{/* Embedded template for opengraph (this file doesn't exist) */}}
{{/* https://ogp.me/ */}}
{{ partial "opengraph.html" . }}

{{/* Embedded template for microdata (this file doesn't exist) */}}
{{/* https://html.spec.whatwg.org/multipage/microdata.html#microdata */}}
{{ partial "schema.html" . }}

{{/* Embedded template for X (Twitter) cards (this file doesn't exist) */}}
{{/* https://developer.x.com/en/docs/twitter-for-websites/cards/overview/abouts-cards */}}
{{ partial "twitter_cards.html" . }}
