<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>

{{- $desc := or (.Param "description") (site.Param "description") -}}
{{- with $desc -}}
  <meta
    name="description"
    content="{{ . | plainify | htmlUnescape | truncate 160 }}"
  />
{{- end -}}

{{/* Embedded template for opengraph (this file doesn't exist) */}}
{{/* https://ogp.me/ */}}
{{ partial "opengraph.html" . }}

{{/* Embedded template for microdata (this file doesn't exist) */}}
{{/* https://html.spec.whatwg.org/multipage/microdata.html#microdata */}}
{{ partial "schema.html" . }}

{{/* Embedded template for X (Twitter) cards (this file doesn't exist) */}}
{{/* https://developer.x.com/en/docs/twitter-for-websites/cards/overview/abouts-cards */}}
{{ partial "twitter_cards.html" . }}

{{/* Inline styles for loading screen */}}
{{ partialCached "loading.html" . }}

{{/* Site styles, deferred for Tailwind */}}
{{ with (templates.Defer (dict "key" "global")) }}
  {{ partial "head/css.html" . }}
{{ end }}

{{/* KaTeX Stylesheet for Math markup in markdown */}}
{{/* This doesn't work when included in _partials/head/css.html */}}
{{ $noop := .WordCount }}
{{ if .Page.Store.Get "hasMath" }}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css"
    integrity="sha384-WcoG4HRXMzYzfCgiyfrySxx90XSl2rxY5mnVY5TwtWE6KLrArNKn0T/mOgNL0Mmi"
    crossorigin="anonymous"
  />
{{ end }}
