@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/***
 * Ensure UA widgets follow the active theme (dark/light)
 */
:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
