@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/***
 * CSS Variables
 * Central place to manage theme colors and other reusable values.
 */
:root {
  --clr-dark: #000;
  --clr-darkgrey: #222;
  --clr-light: #fff;
  --textarea-header-height: 0.8em;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}
