@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-family: 'Roboto', sans-serif;
}

:root {
  color-scheme: light dark;
}

/* Override the appearance of ligatures (fi) */
body {
  font-variant-ligatures: none;
}

/* Remove backticks from inline code in rendered markdown */
.prose p code::before,
.prose p code::after {
    content: none;
}

/* Style inline code in rendered markdown */
.prose p code {
    background-color: rgba(129, 139, 152, 0.12);
    padding: 0.2em 0.4em;
    margin: 0;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 85%;
    white-space: break-spaces;
}
