@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-family: 'Roboto', sans-serif;
}

:root {
  color-scheme: light dark;
}