---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Blog";

// Exclude drafts and sort newest first
const posts: CollectionEntry<"blog">[] = (
	await getCollection("blog", ({ data }) => !data.draft)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle={pageTitle}>
	{
		posts.length === 0 ? (
			<p>No posts yet.</p>
		) : (
			<ul>
				{posts.map((post) => (
					<BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
				))}
			</ul>
		)
	}
</BaseLayout>
