---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Jim Diroff II | Blog";

const allPosts: CollectionEntry<"blog">[] = (
    await getCollection("blog", ({ data }) => !data.draft)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-4xl font-bold mb-4 text-center">All Posts</h1>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>
