---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
const pageTitle: string = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<section id="hero">
	<h2 class="font-bold text-2xl text-center mt-5">Hello World! I'm</h2>
	<h1 class="font-bold text-6xl text-center my-4">Jim Diroff II</h1>

	<p class="font-bold text-center">
		My life-long passion for computers and technology drives me to
		constantly learn and grow in this ever-changing field.
	</p>
	<p class="font-bold text-center">
		Invade my personal space where I discuss technology topics such as
		programming, infrastructure and security.
	</p>

	<div class="flex justify-center flex-wrap mt-2">
		<Button label="Latest Projects" />
		<Button label="Contact Me" />
	</div>
	</section>
	<section id="graphic">
		<div class=" w-full h-60 border-3 border-gray-400 rounded-lg bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900"></div>


	</section>
</BaseLayout>