---

---

<nav class="nav-links sixtyfour-convergence-nav" id="main-menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/blog/">Blog</a></li>
		<li><a href="/tags/">Tags</a></li>
	</ul>
</nav>

<style>
	.nav-links ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	/* Mobile */
	.nav-links {
		width: 100%;
		top: 5rem;
		left: 48px;
		background-color: #ff9776;
		margin: 0;
	}

	.nav-links a {
		display: block;
		text-align: center;
		padding: 10px 0;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.nav-links a:hover,
	.nav-links a:focus {
		background-color: #ff9776;
	}

	/* Desktop */
	@media screen and (min-width: 636px) {
		.nav-links {
			position: static;
			width: auto;
			background: none;
			margin-left: 5em;
		}

		.nav-links li {
			display: inline-block;
		}

		.nav-links a {
			padding: 15px 20px;
		}
	}
</style>
