<!DOCTYPE html>
<html lang="en-US">

{{ partial "head.html" . }}

<body class="!bg-black antialiased">
    <!-- This loading screen will be hidden once the main content is fully loaded -->
    <div id="loading-screen" aria-hidden="true" class="opacity-0 pointer-events-none transition-opacity duration-300 ease-out">
        <div class="spinner"></div>
        <div class="loading-text">Loading...</div>
    </div>

    <!-- Main content container -->
    <div id="content" class="text-white max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 min-h-screen flex flex-col opacity-100 transition-opacity duration-300 ease-in">
        {{ partial "header.html" . }}

        <main class="py-10 min-h-[60vh]">
            {{ block "main" . }}{{ end }}
        </main>

        {{ partial "footer.html" . }}
    </div>
</body>

</html>