{{- .Page.Store.Set "hasCodeBlock" true -}}

{{- $lang := .Type | default "text" -}}
{{- $raw := .Inner | chomp -}}

{{- $opts := merge .Options (dict
  "lineNos" "table"
  "lineNumbersInTable" true
  "noClasses" false
  "wrapperClass" "highlight"
  )
-}}
{{- $result := transform.HighlightCodeBlock . $opts -}}


<div
  class="code-block not-prose group relative my-6 overflow-hidden rounded-lg bg-[#02000f]"
  data-lang="{{ $lang }}"
>
  <div
    class="flex items-center justify-between px-4 py-2 bg-slate-950/40 border-b border-white/10"
  >
    <span class="text-md font-mono uppercase tracking-wider text-slate-300"
      >{{ $lang }}</span
    >

    <button
      class="copy-button p-2 rounded-md text-slate-400 hover:text-white hover:bg-slate-700/50 transition-all duration-200"
      aria-label="Copy to Clipboard"
      type="button"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
        <path
          d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"
        ></path>
      </svg>
    </button>
  </div>

  <pre class="code-raw sr-only">{{ $raw }}</pre>

  <div class="overflow-x-auto my-2">
    {{- $result.Wrapped -}}
  </div>
</div>
