{{- $u := urls.Parse .Destination -}}
{{- $base := urls.Parse site.BaseURL -}}

{{- $isHTTP := or (eq $u.Scheme "http") (eq $u.Scheme "https") -}}
{{- $isExternal := and $u.IsAbs $isHTTP (ne $u.Hostname $base.Hostname) -}}

{{/* prettier-ignore-start */}}
<a href="{{ .Destination | safeURL }}"
  {{- with .Title }}title="{{ . }}"{{ end -}}{{- if $isExternal }}
    target="_blank" rel="nofollow noopener noreferrer"
  {{ end -}}
  >{{- with .Text }}{{ . }}{{ end -}}{{- if $isExternal }}<span class="sr-only"> (opens in a new tab)</span>{{ end -}}</a>
{{- /* chomp trailing newline */ -}}
{{/* prettier-ignore-end */}}
